body {
    font-family: Arial;
    counter-reset: partie;
}

.part1 {
    --main-bg-color: #ec6260;
}
.part2 {
    --main-bg-color: #6da715;
}
.part3 {
    --main-bg-color: #2ebcf0;
}

h1 {
    counter-reset: chapitre;
    counter-increment: partie;
    background-color: var(--main-bg-color);
    color: white;
}
h1::after {
    content: " " counter(partie);
    white-space: pre;
    font-size: 7rem;
}

h2:not(.uncounted) {
    counter-reset: paragraphe;
    counter-increment: chapitre;
    border-bottom: 2px solid #2ebcf0;
}
h2:not(.uncounted)::after {
    color: var(--main-bg-color);
    content: "\A" counter(chapitre);
    white-space: pre;
    font-size: 5rem;
}

h3 {
    counter-reset: composite;
    counter-increment: paragraphe;
    background-color: var(--main-bg-color);
    border-style: solid;
    border-width: 1px;
    width: fit-content;
}
h3::before {
    content: counter(paragraphe) " ";
    background-color: white;
}

h4:not(.uncounted) {
    counter-reset: detail;
    counter-increment: composite;
}

h4:not(.uncounted)::before {
    content: counter(paragraphe) "." counter(composite) " ";
}

h5 {
    counter-reset: sub-detail;
    counter-increment: detail;
}
h5::before {
    content: counter(paragraphe) "." counter(composite) "." counter(detail) " ";
}

h6 {
    counter-increment: sub-detail;
}
h6::before {
    content: counter(paragraphe) "." counter(composite) "." counter(detail) "." counter(sub-detail) " ";
}

p {
    text-indent: 1rem;
}
table {
    border-collapse: collapse;
}

td, th {
    border: 1px solid;
    padding: 0.5rem;
    text-align: left;
}

ul > li > ul {
    list-style-type: none;
}

ul > li > ul > li::before {
    content: "- ";
}

.remarque {
    color: #2ebcf0;
    font-weight: bold;
    text-indent: 0;
}

.pageNumber {
    position: absolute;
    right: 10px;
    background-color: var(--main-bg-color);
}

.container {
    display: flex;
    flex-direction: row;
    width: 100%;
}

#tableOfContents {
    position: sticky;
    width: 30%;
    height: 100vh;
    top: 0;
}

#content {
    width: 75%;
}

.inline-images {
    text-align: center;
}

figure {
    display: inline-block;
    max-width: 100%;
    margin: 0;
}

.noborder {
    border: none;
}

.right-align {
    text-align: right;
}


.darker-blue {
    background-color: #1eb7e8;
}

.dark-blue {
    background-color: #93e3ff;
}

.light-blue {
    background-color: #cbf7ff !important;
}

.ugly-yellow {
    background-color: #bbd332;
}

.yellow {
    background-color: #fddb2d;
}

table.dark-blue-first-row tr td:first-of-type,
table.dark-blue-first-row tr th:first-of-type {
    background-color: #93e3ff;
}

table.light-blue-header-darker-body th {
    background-color: #cbf7ff;
}
table.light-blue-header-darker-body tbody {
    background-color: #1eb7e8;
}

table.light-blue-header-yellow-body th {
    background-color: #cbf7ff;
}
table.darker-blue-header-ugly-yellow-body th {
    background-color: #1eb7e8;
}

table.darker-blue-header-ugly-yellow-body tbody {
    background-color: #bbd332;
}

table.light-blue-header-yellow-body tbody {
    background-color: #fddb2d;
}

table.green-first-column tr td:first-of-type,
table.green-first-column tr th:first-of-type {
    background-color: #66a217;
}

tbody.no-horizontal-lines td {
    border-collapse: collapse;
    border:1px solid black;
    border-top: none;
    border-bottom: none;
}
tbody.no-horizontal-lines tr:last-of-type {
    border-bottom: 1px solid;
}